$iran-sans: 'iranSans' !default;
$font-path-eot: '../assets/fonts/iransans/IRANSansWeb.eot' !default;
$font-path-woff2: '../assets/fonts/iransans/IRANSansWeb.woff' !default;
$font-path-tff: '../assets/fonts/iransans/IRANSansWeb.ttf' !default;

