$material-icon-font-family: 'Material Icons' !default;
$material-icon-font-family-regular: 'MaterialIcons-Regular' !default;
$material-icon-font-path-eot: '../assets/fonts/icons/new-icon/MaterialIcons-Regular.eot' !default;
$material-icon-font-path-woff2: '../assets/fonts/icons/new-icon/MaterialIcons-Regular.woff2' !default;
$material-icon-font-path-woff2-regular: '../assets/fonts/icons/new-icon/MaterialIcons-Regular.woff' !default;
$material-icon-font-path-tff: '../assets/fonts/icons/new-icon/MaterialIcons-Regular.ttf' !default;

$prime-icon-font-family: 'primeicons' !default;
$prime-icon-font-path-eot: '../assets/fonts/primeicons/primeicons.eot' !default;
$prime-icon-font-path-svg: '../assets/fonts/primeicons/primeicons.svg' !default;
$prime-icon-font-path-woff: '../assets/fonts/primeicons/primeicons.woff' !default;
$prime-icon-font-path-tff: '../assets/fonts/primeicons/primeicons.ttf' !default;
